:host {
  width: 100%;
  border: 4px dashed var(--hilite);
}

.zone {
  position: relative;
  min-height: 1rem;
  cursor: pointer;
  transition: background-color .6s;
  text-align: center;
  font-size: .8rem;
  font-style: italic;
  padding: .25rem;
  opacity: .6;

  &.dragging {
    color: var(--bg);
    background-color: var(--text-color);
  }
  
  input[type=file] {
    height: 0;
    opacity: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  p {
    user-select: none;
  }
}

