.wrapper {
  background-color: var(--white);
  width: min(300px, 100vw - .5rem);
  top: var(--space);
  right: var(--space);
  position: fixed;
  z-index: 999999;
  opacity: 0;
  transition: opacity .3s;

  &.active {
    opacity: 1;
  }
}

.toast {
  padding: var(--space);
  box-shadow: -3px 3px 10px var(--hilite);
  background-color: var(--bg);
  margin-bottom: .5rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 1rem;
      flex: 80% 1 1;
      margin: 0 var(--space);
    }

    span {
      font-size: 1.5rem;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
    }

    > .level {
      background-color: lightgray;
      &[data-level="1"] { background-color: #7fdb54; } 
      &[data-level="2"] { background-color: #f8db46; }
      &[data-level="3"] { background-color: #df4d4d; }
    }

    > .close {
      line-height: 0.4;
      cursor: pointer;
    }
  }

  .body {
    font-size: 0.8rem;
  }
}
