<div class="menu">
  <a [routerLink]="['/']">Home</a>
  <a [routerLink]="['/documents']">Documents</a>
  <a [routerLink]="['/weather']">Weather</a>

  <input type="button" *ngIf="!msal.loginDisplay" (click)="msal.login()" value="Log in"/>
  <input type="button" *ngIf="msal.loginDisplay" (click)="msal.logout()" value="Log out"/>

  <app-switch (change)="onToggleDarkMode()"/>
</div>

<!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
<router-outlet *ngIf="!msal.isIframe"/>

<app-toast *ngIf="(notices$ | async) as notices"
  [notices]="notices" (close)="onToastClose($event)"/>
