<a [routerLink]="['/']">Home</a>
<a [routerLink]="['/documents']">Documents</a>
<a [routerLink]="['/weather']">Weather</a>

<input type="checkbox" (input)="onToggleDarkMode()" />

<button *ngIf="!msal.loginDisplay" (click)="msal.login()">Log in</button>
<button *ngIf="msal.loginDisplay" (click)="msal.logout()">Log out</button>

<!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
<router-outlet *ngIf="!msal.isIframe"/>

<app-toast *ngIf="(notices$ | async) as notices"
  [notices]="notices" (close)="onToastClose($event)"/>
