<a [routerLink]="['/']">Home</a>
<a [routerLink]="['/documents']">Documents</a>
<a [routerLink]="['/weather']">Weather</a>

<button *ngIf="!msal.loginDisplay" (click)="msal.login()">Log in</button>
<button *ngIf="msal.loginDisplay" (click)="msal.logout()">Log out</button>

<!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
<router-outlet *ngIf="!msal.isIframe"/>

<ng-container *ngIf="(notices$ | async) as noticeItems">
  <app-toast *ngFor="let item of noticeItems" [activeNotice]="item.notice" (close)="onToastClose(item.key)"/>
</ng-container>