.docs-table {
    margin-top: 2rem;
    max-width: 800px;
    word-break: break-all;

    >div {
        display: flex;

        &.header {
            font-weight: bold;
        }

        &.body:nth-child(2n) {
            background-color: #efefef;
        }

        &.body:nth-child(2n + 1) {
            background-color: #dedede;
        }

        >div {
            padding: 0 .25rem;

            &.name {
                flex: 80% 1 1;
            }

            &.size {
                flex: 4rem 0 0;
            }

            &.link {
                flex: 4rem 0 0;
                text-align: center;

                &:is(.body > div) {
                    cursor: pointer;
                    font-weight: bold;

                    .download {
                        color: #148007;
                    }

                    .delete {
                        color: rgb(112, 0, 0);
                    }
                }

                span {
                    padding: 0 .25rem;
                    margin: 0 .25rem;
                }
            }
        }
    }
}