.docs-table {
    margin-top: 2rem;
    max-width: 800px;

    > div {
        display: flex;

        &:is(.header) {
            font-weight: bold;
        }

        &:nth-child(2n) {
            background-color: #efefef;
        }

        &:nth-child(2n + 1) {
            background-color: #dedede;
        }

        > div.name {
            flex: 80% 1 1;
        }

        > div.size {
            flex: 75px 0 0;
        }

        > div.link {
            flex: 50px 0 0;

            &:is(.body > div) {
                cursor: pointer;
                color: blue;
            }
        }
    }
}