<h1>Documents</h1>

<div *ngIf="(blobsResponse$ | async) as blobs" class="docs-table">
    <div class="header">
        <div class="name">File Name</div>
        <div class="size">Size</div>
        <div class="link"></div>
    </div>
    <div class="body" *ngFor="let blob of blobs.data" [attr.data-blob-id]="blob.reference">
        <div class="name">{{ blob.fileName }}</div>
        <div class="size">{{ blob.fileSize / 1024 | number: '1.0-1' }}kb</div>
        <div class="link">
            <span class="download" (click)="download(blob.reference)">&#x2B73;</span>
            <span class="delete" (click)="deleteBlob(blob.reference)">&times;</span>
        </div>
    </div>
    <div class="body" *ngIf="!blobs.data.length">
        No documents found!
    </div>
    <div class="footer">
        <app-upload (selected)="onUploadSelected($event)" (invalid)="onUploadInvalid($event)"/>
    </div>
</div>